<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FEUP Beach Club</title>
    {% block title %}
    {% endblock %}
  </head>
    <body>
        <nav>
            <ul class="menu">
                <li><a class="button" href="/sobre">Sobre nós</a></li>
                {% if ulogin == None %}
                    <li><a class="button" href="/login">Login</a></li>
                {% else %}
                    <li><a class="button" href="/logoff">Logoff</a></li>
                    <li><a class="button" href="/gform/Cliente">Cliente</a></li>
                    
                    <li><a class="button" href="/submenu?subm=order">Reserva</a></li>
                    
                    
                    <li><a class="button" style="color:lightblue">User: {{ulogin}}</a></li>
                    
                    <br><br>
                    {% if submenu == "order" %}
                        <li><a class="button" href="/gform/Reserva?subm=order">Reserva</a></li>
                        <li><a class="button" href="/productform?subm=order">Tipo de Quarto</a></li>
                        <li><a class="button" href="/gform/Quarto?subm=order">Quarto</a></li>
                        <li><a class="button" href="/gformT/TipoRefeicao?option=''&subm=order">Refeições</a></li>
                    {% endif %} 
                    
                    
                {% endif %}
            </ul>
        </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>