{% extends 'base.html' %}

{% block title %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
{% endblock %}

{% block content %}

    <div class="dados">
        <br><br>
            <h1>FEUP Beach Club</h1>
            <p class="section-title">História</p>
            <p>
                A nossa história é marcada por um selo de excelência e apreciação, garantido por todos aqueles que têm o privilégio de usufruir das nossas instalações.
                Fundado em 1979 por um recém-formado Engenheiro Metalúrgico, este Hotel tinha o fim de oferecer uma experiência exótica e diferenciada aos estudantes que quisessem um pequeno devaneio das suas preocupações no paraíso, a emblemática Rua do Bragas.
            </p>
            <p>
                Hoje mantemos a nossa filosofia de negócio. Acompanhamos a mudança dos “Feupinhos“ para o Polo da Asprela, estando agora sediados na Rua da Circunvalação.
                Melhoramos exponencialmente os nossos serviços, permitindo uma maior diferenciação entre quartos. Um mar de vivências e felicidades!
                Esperamos continuar a ser o que sempre fomos: o companheiro dos estudantes nos tempos mais árduos e difíceis.
            </p>
            
            <p class="section-title">Como Marcar</p>
            <p>
                De forma a permitir uma marcação versátil e interpessoal, requisitamos a comunicação com o Staff para marcação, usando os contactos seguintes:
            </p>
            <ul>
                <li>Telefone: 254068530</li>
                <li>Telemóvel: 937420677</li>
                <li>Email: feupbeachclub@gmail.com</li>
            </ul>
            <img src="{{ url_for('static', filename='images/beach.jpg') }}" alt="FEUP Beach Club" class="club-image">
    </div>

{% endblock %}